includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 10
    paths:
        - app
        - database
        - routes
        - config
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: true
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
